
<%= form_for(@entry) do |f| %>
    <% render 'shared/error', object: f.object %>
	<div class="field">  
		<%= f.text_field :title, placeholder: "Your title" %>    
		<%= f.text_area :content, placeholder: "Content..........." %>        
  </div> 
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>  


